@font-face { 
  font-family: 'PokemonGB';
  src: url('assets/PokemonGb.woff') format('woff');
  }

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  overflow: hidden;
  overflow-y: hidden;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PokemonGB';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

