@font-face { 
  font-family: 'PokemonGB';
  src: url('assets/PokemonGb.woff') format('woff');
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PokemonGB';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

